* {
    text-align: center;
}

.homepage-image {
    position: relative;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homepage-image * {
    font-family: none;
    font-size: 40px;
    color: white;
    font-weight: bold;
    letter-spacing: 20px;
}

.homepage-image p {
    -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 6s; /* Firefox < 16 */
        -ms-animation: fadein 6s; /* Internet Explorer */
         -o-animation: fadein 6s; /* Opera < 12.1 */
            animation: fadein 6s;
}

td img {
    margin-bottom: 10px;
    width: 80%;
}

.homepage-shop {
    font-size: 20px;
    font-weight: lighter;
    margin: 10%;
}


.homepage-shop img:hover {
    opacity: 0.5;
}

table {
    width: 100%;
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
