<div>
    <div>
    <div class = "homepage-image"> 
        <img src ="assets/images/cover-photo.jpg" alt="cover-photo" width = "100%">
        <div class = "title"> <p> legend <i> of </i> tamar </p> </div> 
    </div> 
    </div>
</div>

<div class = "homepage-shop"> 
<p> shop by category </p>
<br>

    
<div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell"> 
                    <div> <img (click)="redirect('paintings')" src ="assets/images/paintings.jpg" alt="paintings"> </div> 
                    <div> paintings </div>
          </div>
            <div class="mdc-layout-grid__cell"> 
                <div> <img (click)="redirect('sketches')" src ="assets/images/sketches2.jpg" alt="sketches"> </div> 
                <div> sketches </div>        
            </div>
            <div class="mdc-layout-grid__cell"> 
                <div> <img (click)="redirect('paintings')" src ="assets/images/prints.jpg" alt="paintings"> </div> 
                <div> prints </div>
            </div>
      </div>

      </div>

