<div class = "homepage-image">
    <img src ="assets/images/cover-photo.jpg" alt="cover-photo" width = "85%">
    <div class = "title"> <p> legend <i> of </i> tamar </p> </div>
</div>

<div class = "homepage-shop"> 
    <table>
            <tr>
                <td> <div> <img src ="assets/images/paintings.jpg" alt="paintings"> </div> </td>
                <td> <div> <img src ="assets/images/sketches.jpg" alt="sketches"> </div> </td>
            </tr>
            <tr>
                <td>paintings</td>
                <td>sketches</td>

                </tr>
    </table>
</div>



