<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12" class = "homepage-image"> 
        <img src ="assets/images/cover-photo.jpg" alt="cover-photo" width = "100%">
        <div class = "title"> <p> legend <i> of </i> tamar </p> </div> 
    
    </div> 
</div>
</div>
<!--
<div class = "homepage-shop"> 
<p> shop by category </p>
<br>
    <table>
            <tr>
                <td> <div> <img (click)="redirect('paintings')" src ="assets/images/paintings.jpg" alt="paintings"> </div> </td>
                <td> <div> <img (click)="redirect('sketches')" src ="assets/images/sketches2.jpg" alt="sketches"> </div> </td>
            </tr>
            <tr>
                <td>paintings</td>
                <td>sketches</td>

                </tr>
    </table>
</div>
-->
