.content {
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}

.title p {
    font-family: none;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1vw;
}

img {
    width: 90%;
    height: 90%;
}

.details {
    margin-top: 20%;
}