<div class = "content">

    <div class="mdc-layout-grid" class = "paintings">

            <div class="mdc-layout-grid__inner">

            <div class="mdc-layout-grid__cell--span-6">

                <div class = "title"> <p> about me </p> </div> 
            
            <div class = "details">

                    <div> Hello! My name is Tamar Merdkhanian and I'm a 21 year old Software Engineering student in Montreal, Canada.  </div>
                    <div> I have a passion to create - with paintbrushes, pencils, 1s and 0s. Therefore, I developed this website from scratch using Angular 6 and NodeJS to showcase/sell some of my artwork. All photos on the site are taken by me.</div>
                    <div> If you are interested in any of my pieces, please contact me at <strong> tamar.merdkhanian@gmail.com </strong> to purchase! </div>

            </div>

            </div>

            <div class="mdc-layout-grid__cell--span-6">

                <div class = "image"> <img src ="assets/images/about/about-me.jpg" alt="about-me"> </div> 
                
        </div>
 
          </div>
    
    </div>

</div>