<div class = "content">

    <div class="mdc-layout-grid" class = "paintings">

            <div class="mdc-layout-grid__inner">

            <div class="mdc-layout-grid__cell--span-6">

                <div class = "title"> <p> about me </p> </div> 
            
            <div class = "details">

                    <div> <p> Hello  </p></div>

            </div>

            </div>

            <div class="mdc-layout-grid__cell--span-6">

                <div class = "image"> <img src ="assets/images/about/about-me.jpg" alt="about-me"> </div> 
                
        </div>
 
          </div>
    
    </div>

</div>