   
<div fxShow="true" fxHide.gt-sm="true">

    <div class = "logo-mobile">
        <button (click)="redirect('')">  Tamar Merdkhanian </button>
    </div>

</div>
    
<div>
    <mat-toolbar>

      <div fxShow="true" fxHide.lt-md="true" class = "navbar">

          <button class = "logo" (click)="redirect('')">  Tamar Merdkhanian </button>
          <button (click)="redirect('paintings')">  paintings </button> 
          <button (click)="redirect('sketches')"> sketches </button> 
          <button (click)="redirect('about')"> about </button> 
          <button (click)="redirect('contact')" class = "contact"> contact </button>
  
      </div>

      
  
    </mat-toolbar>

  </div>



