.logo {
font-size: 3vw;
font-family: Snell Roundhand, cursive;
margin-left: 8vw;
margin-right: 4vw;
}

.logo-mobile {
    text-align: center;
}

.logo-mobile button {
  font-size: 30px;
  font-family: Snell Roundhand, cursive;
}

button {
    margin-left: 2vw;
    font-size: 1.7vw;
}
