.logo {
font-size: 3vw;
font-family: Snell Roundhand, cursive;
margin-left: 8vw;
margin-right: 4vw;
}

.logo-mobile {
    text-align: center;
}

.logo-mobile button {
  font-size: 6vw;
  font-family: Snell Roundhand, cursive;
}

button {
    margin-left: 2vw;
}

.sidenav {
  padding: 20px;
  width: auto;
  background-color: #dec4c6;
  position: fixed;
  left: 0;
}

.sidenav button {
  padding: 20px;
  margin-left: 20px;
}

.mat-drawer-backdrop .mat-drawer-shown { 
  visibility: visibile;
  background-color: black !important; 
}

.container {
  height: auto;
}