<div class = "content">

        <div>
                <div>
                <div class = "paintings-image"> 
                    <img src ="assets/images/paintings/cover-photo.jpg" alt="cover-photo" width = "100%">
                    <div class = "title"> <p> Paintings </p> </div> 
                </div> 
                </div>
            </div>
    
        
    <div class="mdc-layout-grid" class = "paintings">
            <div class="mdc-layout-grid__inner">

            <div *ngFor="let item of paintings" class="mdc-layout-grid__cell"> 
                    <div> <img  (click) = "expand({{item['title']}}" src ="assets/images/paintings/{{item['title']}}.jpeg" alt="{{item['title']}}"> </div> 
                    <div> {{item['title']}} </div>
            </div>
 
          </div>
    
    </div>


</div>
