<div class = "content">

        <div>
                <div>
                <div class = "paintings-image"> 
                    <img src ="assets/images/paintings/cover-photo.jpg" alt="cover-photo" width = "100%">
                    <div class = "title"> <p> Paintings </p> </div> 
                </div> 
                </div>
            </div>
    
        
    <div class="mdc-layout-grid" class = "paintings">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell"> 
                        <div> <img (click)="redirect('paintings')" src ="assets/images/paintings.jpg" alt="paintings"> </div> 
                        <div> paintings </div>
              </div>
                <div class="mdc-layout-grid__cell"> 
                    <div> <img (click)="redirect('sketches')" src ="assets/images/sketches.jpg" alt="sketches"> </div> 
                    <div> sketches </div>        
                </div>
                <div class="mdc-layout-grid__cell"> 
                    <div> <img (click)="redirect('prints')" src ="assets/images/prints.jpg" alt="paintings"> </div> 
                    <div> prints </div>
                </div>
                <div class="mdc-layout-grid__cell"> 
                    <div> <img (click)="redirect('prints')" src ="assets/images/prints.jpg" alt="paintings"> </div> 
                    <div> prints </div>
                </div>
          </div>
    
    </div>


</div>
