.app-footer {
    width: 100%;
}

.sidenav {
    padding: 20px;
    width: auto;
    background-color: #e8c0c8;
    position: fixed;
    left: 0;
  }
  
  .sidenav button {
    padding: 20px;
    margin-left: 20px;
  }
  
  .container {
    height: auto;
  }

  .mat-drawer-backdrop.mat-drawer-shown {
    visibility: visible;
    background-color: black!important;
    opacity: 0.5;
}

.mat-drawer-backdrop {
  visibility: visible!important;
  background-color: black!important;
  opacity: 0.5;

}


