* {
    font-family: Optima;
    font-size: 20px;
}

button {
    background: none;
    background-color: none;
    border: none;
    font-size: 15px;
    box-shadow: none;
}

button:hover {
    opacity: 0.4;
}

button:focus, button:active, button:focus:active {
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }



