@font-face {
    font-family: Optima;
    src: url(assets/fonts/Ultima.ttf) format("opentype");
  }

@font-face {
font-family: Snell Roundhand;
src: url(assets/fonts/Snell.otf) format("opentype");
}

* {
    font-family: Optima;
    font-size: 20px;
}

button {
    background: none;
    background-color: none;
    border: none;
    font-size: 15px;
    box-shadow: none;
}

button:hover {
    opacity: 0.4;
}

button:focus, button:active, button:focus:active {
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .title p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1vw;
}


